<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>maksuturva</name>
	<displayName><![CDATA[Maksuturva]]></displayName>
	<version><![CDATA[122]]></version>
	<description><![CDATA[Accepts payments using Maksuturva]]></description>
	<author><![CDATA[Maksuturva]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete the Maksuturva module?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>